<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="mediaProvider.loggedIn" (click)="goToUpload()">Here</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item ion-item *ngFor="let item of picArray | async" (click)="itemSelected(item)">
      <ion-thumbnail item-start>
        <img src='http://media.mw.metropolia.fi/wbma/uploads/{{ item.file_id  | thumbnail | async }}' item-start="" width="60" height="60" >
      </ion-thumbnail>
      <h2>{{ item.title }}</h2>
      <p>{{ item.time_added | date: ('dd.MM.yyyy') }}</p>
      <p>{{ item.description.split(':FILTERS')[0] }}</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
</ion-content>

