<!--
  Generated template for the PlayerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>player</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="pic">
    <ion-item *ngIf="pic.media_type==='image'">
      <img src='http://media.mw.metropolia.fi/wbma/uploads/{{ pic_id  | thumbnail:"medium" | async }}'>
    </ion-item>
    <ion-item *ngIf="pic.media_type==='video'">
      <video width="100%" height='auto' controls>
        <source src='http://media.mw.metropolia.fi/wbma/uploads/{{ pic.filename }}'>
      </video>
    </ion-item>
    <audio *ngIf="pic.media_type === 'audio' " [src] = "'http://media.mw.metropolia.fi/wbma/uploads/' + pic.filename" controls></audio>
    <h2>{{ pic.title }}</h2>
    <p>{{ pic.description.slice(3).split('[/d]')[0] }}</p>
    <p>User: {{ username }}</p>
  </ion-card>

</ion-content>
